<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.fer.dm.dm_app3" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activites.LoginActivity"
            android:theme="@style/NoAction" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/NoAction" >
        </activity>
        <activity
            android:name=".Activites.MovieDetailsActivity"
            android:label=""
            android:theme="@style/NoAction" >
        </activity>
        <activity
            android:name=".Activites.ActorDetailActivity"
            android:label=""
            android:theme="@style/NoAction" >
        </activity>
        <activity
            android:name=".Activites.CastActivity"
            android:label="@string/cast_string"
            android:theme="@style/NoAction" >
        </activity>
        <activity
            android:name=".Activites.CrewActivity"
            android:label="@string/cast_string"
            android:theme="@style/NoAction" >
        </activity>
        <activity
            android:name=".Activites.RolesActivity"
            android:label="@string/cast_string"
            android:theme="@style/NoAction" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activites.SearchActivity"
            android:label="@string/action_search"
            android:launchMode="singleTop"
            android:theme="@style/NoAction">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Activites.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity android:name=".Activites.SearchMoviesActivity" >
        </activity>
        <activity android:name=".Activites.WatchedActivity" >
        </activity>
        <activity android:name=".Activites.WatchLaterActivity" >
        </activity>
    </application>

</manifest>
